@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=cyrillic');

body {
  font-family: "Motserrat", "Arial", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main__container {

  height: 718px;

  background-image: url('../img/image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.container--wide {
  max-width: 1235px;
}

.button {
  text-decoration: none;
  border-radius: 100px;
}

.button--white {
  padding: 0 25px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2f80ed;

  background-color: #ffffff;
}

.button--white:hover {
  background-color: rgba(47, 128, 237, 0.1);
  color: #ffffff;
  font-weight: bold;
}

.button--green {
  display: inline-block;
  padding: 0 40px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #64e2cd;
}

.button--green:hover {
  background-color: rgba(100, 226, 205, 0.5);
}

.button--bordered {
  margin: 15px;
  box-shadow: 0 0 0 15px rgba(100, 226, 205, 0.5)
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.cities {
  display: flex;
  list-style: none;
}

.cities__item:not(:last-child) {
  margin-right: 25px;
}

.cities__link {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.cities__link--active {
  font-weight: 700;
}

.cities__link:hover {
  text-decoration: underline;
}

.main-nav {
  margin-left: auto;
  margin-right: 65px;
}

.main-nav__list {
  display: flex;
  list-style: none;

}

.main-nav__item {

}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
}

.main-nav__link--active {
  font-weight: 700;
}

.main-nav__item:not(:last-child) {
  margin-right: 40px;
}

.main-nav__link:hover {
  text-decoration: underline;
}

.promo__container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}



.promo__wrapper {
  max-width: 550px;
  padding-top: 160px;
  padding-bottom: 175px;
  width: 100%;
  color: #ffffff;

}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.promo__text--margin-bottom {
  margin-bottom: 30px;
}

.promo__text--uppercase {
  text-transform: uppercase;
}

.promo__heading {
  margin: 20px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 230px;
  height: 230px;
  background: radial-gradient(668.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #ffffff;
  box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
  border-radius: 50%;

  position: absolute;
  left: 65px;
  bottom: -85px;

  color: #2f80cd;
}

.rating__link {
  color: inherit;
}

.rating__link:after{
  content: "";
  margin-left: 5px;
}

.results {
  padding-top: 35px;
  background-color: #2f80ed;
}

.results__heading {
  margin-bottom: 65px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  color: #ffffff;
}

.results__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.results__item {
  display: flex;
  align-items: flex-start;
  width: calc(565 / 1175 * 100%);
  margin-bottom: 40px;
  padding-top: 45px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 55px;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
}

.results__icon {
  margin-right: 35px;
  margin-top: 20px;
}

.results__caption {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #2f80ed;
  text-transform: uppercase;
}

.results__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #636363;
}

.price__heading {
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  text-align: center;
}

.price__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(270 / 920 * 100%);
  margin-bottom: 45px;
  padding-top: 70px;
  padding-right: 40px;
  padding-bottom: 65px;
  padding-left: 40px;
  color: #2f80ed;
  background: #ffffff;
  box-shadow: 0 20px 50px rgba(47, 55, 237, 0.12);
  border-radius: 10px;
}

.price__item--profit::before {
  content: "Выгодно";

  position: absolute;
  top: -45px;
  right: -25px;

  display: none;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #2f80ed;
  border-radius: 50%;
}

.price__item--row {
  margin: 0 auto;
  padding-top: 45px;
  padding-right: 85px;
  padding-bottom: 40px;
  padding-left: 80px;
  flex-direction: row;
  justify-content: space-between;
  width: calc(570 / 920 * 100%);
}

.price__caption {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
}

.price__employee {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}

.price__container {
  margin-bottom: 30px;

  text-align: center;
}

.price__link {
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #52d1bc;
  border-radius: 50px;
}
